<?xml version="1.0"?>
<launch>

	<node name="sensehat_imu_rospy_node" pkg="sensehat_driver" type="sensehat_imu_rospy_node" output="screen" />

	<node name="sensehat_compass_display" pkg="sensehat_driver" type="sensehat_compass_display" output="screen" />

	<node name="sensehat_imu_roscpp_node" pkg="sensehat_driver" type="sensehat_imu_roscpp_node" output="screen" />

</launch>
