<?xml version="1.0"?>
<launch>

	<arg name="compass_enabled" default="True" />
	<arg name="gyro_enabled" default="True" />
	<arg name="accel_enabled" default="True" />

	<node name="sensehat_imu_publisher" pkg="sensehat_driver" type="sensehat_imu_publisher.py" output="screen" >
		<param name="compass_enabled" type="bool" value="$(arg compass_enabled)" />
		<param name="gyro_enabled" type="bool" value="$(arg gyro_enabled)" />
		<param name="accel_enabled" type="bool" value="$(arg accel_enabled)" />
	</node>

	<node name="sensehat_compass_display" pkg="sensehat_driver" type="sensehat_compass_display.py" output="screen" />

</launch>
